
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.grid{
  display:grid;
  align-items:center;
  width:90vh;
  gap:20px;
  padding: 20px;
  border: 1px solid black;
}

.cell{
  height:0;
  padding-bottom:100%;
  background-color: transparent;
  border:1px solid black;
}

.cell-activated{
  background-color: green;
}